In [1]:
import pandas as pd

In [2]:
dict = {
    "name":['Ritesh','Rakesh','Ankit'],
    "Roll_no":['12','34','56'],
    "city":['Haryana','Punjab','Delhi']
}

In [3]:
df=pd.DataFrame(dict)

In [4]:
df

     name Roll_no     city
0  Ritesh      12  Haryana
1  Rakesh      34   Punjab
2   Ankit      56    Delhi

In [5]:
import pandas as pd

In [10]:
a=[4, 8, 15, 16, 23, 42]

In [13]:
id=pd.Series(a,index=["A","B","C","D","E","F"])

In [14]:
id

A     4
B     8
C    15
D    16
E    23
F    42
dtype: int64

In [ ]:
Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [15]:
b=['Rohan','Ritesh','kajal','priyanka','megha',10,23,45,56,23]

In [18]:
fd=pd.Series(b,index=[1,2,3,4,5,6,7,8,9,10])

In [21]:
print(fd)
fd

1        Rohan
2       Ritesh
3        kajal
4     priyanka
5        megha
6           10
7           23
8           45
9           56
10          23
dtype: object

1        Rohan
2       Ritesh
3        kajal
4     priyanka
5        megha
6           10
7           23
8           45
9           56
10          23
dtype: object

In [22]:
dict2={
    "Name":["Alice","Bob","claire"],
    "Age":['25','30','27'],
    "Gender":["Femail","mail","Femail"]
}

In [23]:
df2=pd.pandas.DataFrame(dict2)

df2

# DataFrame and series both have different work on it.
## Dataframe is a two dimensional data structure.It store both row and column at a one time.
### dict={
    "name":['Ritesh','Rakesh','Ankit'],
    "Roll_no":['12','34','56'],
    "city":['Haryana','Punjab','Delhi']
     }
## Series is a One dimensional data structure.It store single type of row or column.
    Name=['Ritesh','Rakesh','Ankit']

In [36]:
import pandas as pd

In [37]:
ri=pd.read_csv('annual-enterprise-survey-2021-financial-year-provisional-csv.csv')

In [38]:
ri

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [39]:
ri.head(6)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...

In [40]:
ri.tail(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
41705,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41706,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41707,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41708,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41709,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [41]:
ri.describe()

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000

In [42]:
ri.memory_usage(deep=True)

Index                              128
Year                            333720
Industry_aggregation_NZSIOC    2669760
Industry_code_NZSIOC           2558223
Industry_name_NZSIOC           3824235
Units                          3050415
Variable_code                  2502900
Variable_name                  3296142
Variable_category              3173346
Value                          2524573
Industry_code_ANZSIC06         3702483
dtype: int64

In [54]:
ri['Year'][0]=2023       # change a vlaue of [0] index

C:\Users\RITESH TIWARI\AppData\Local\Temp\ipykernel_10040\537285798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ri['Year'][0]=2023

In [55]:
ri

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [57]:
ri.dtypes             # describe about types

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [58]:
ri.index        #show a rows value

RangeIndex(start=0, stop=41715, step=1)

In [60]:
ri.columns    # show columns value

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [61]:
ri.to_numpy()    # it convert in numpy(array)

array([[2023, 'Level 1', '99999', ..., 'Financial performance',
        '757,504',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', '99999', ..., 'Financial performance',
        '674,890',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       [2021, 'Level 1', '99999', ..., 'Financial performance', '49,593',
        'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
       ...,
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '12',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '5',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119'],
       [2013, 'Level 3', 'ZZ11', ..., 'Financial ratios', '46',
        'ANZSIC06 groups C111, C112, C113, C114, C115, C116, C117, C118, and C119']],
      dtype=object)

In [62]:
ri.T   # it help to transpose every whole table

,0,1,2,3,4,5,6,7,8,9,...,41705,41706,41707,41708,41709,41710,41711,41712,41713,41714
Year,2023,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Industry_aggregation_NZSIOC,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,...,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3,Level 3
Industry_code_NZSIOC,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,...,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11,ZZ11
Industry_name_NZSIOC,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,All industries,...,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing,Food product manufacturing
Units,Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),Dollars (millions),...,Dollars (millions),Dollars (millions),Dollars,Dollars,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage
Variable_code,H01,H04,H05,H07,H08,H09,H10,H11,H12,H13,...,H32,H33,H34,H35,H36,H37,H38,H39,H40,H41
Variable_name,Total income,"Sales, government funding, grants and subsidies","Interest, dividends and donations",Non-operating income,Total expenditure,Interest and donations,Indirect taxes,Depreciation,Salaries and wages paid,Redundancy and severance,...,Current liabilities,Other liabilities,Total income per employee count,Surplus per employee count,Current ratio,Quick ratio,Margin on sales of goods for resale,Return on equity,Return on total assets,Liabilities structure
Variable_category,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,Financial performance,...,Financial position,Financial position,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios,Financial ratios
Value,"757,504","674,890","49,593","33,020","654,404","26,138","6,991","27,801","123,620",275,...,"10,212","2,220","523,700","17,700",91,52,40,12,5,46
Industry_code_ANZSIC06,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,ANZSIC06 divisions A-S (excluding classes K633...,...,"ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ...","ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [64]:
ri.sort_index(axis=1, ascending=False)

,Year,Variable_name,Variable_code,Variable_category,Value,Units,Industry_name_NZSIOC,Industry_code_NZSIOC,Industry_code_ANZSIC06,Industry_aggregation_NZSIOC
0,2023,Total income,H01,Financial performance,"757,504",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
1,2021,"Sales, government funding, grants and subsidies",H04,Financial performance,"674,890",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
2,2021,"Interest, dividends and donations",H05,Financial performance,"49,593",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
3,2021,Non-operating income,H07,Financial performance,"33,020",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
4,2021,Total expenditure,H08,Financial performance,"654,404",Dollars (millions),All industries,99999,ANZSIC06 divisions A-S (excluding classes K633...,Level 1
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Quick ratio,H37,Financial ratios,52,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
41711,2013,Margin on sales of goods for resale,H38,Financial ratios,40,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
41712,2013,Return on equity,H39,Financial ratios,12,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
41713,2013,Return on total assets,H40,Financial ratios,5,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3
41714,2013,Liabilities structure,H41,Financial ratios,46,Percentage,Food product manufacturing,ZZ11,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",Level 3

# Which of the following is mutable in nature Series, DataFrame, Panel?
## Series=immputable in nature.
## DataFrame, Panel = mutable in nature

In [70]:
import pandas as pd

In [74]:
Name=pd.Series(["Ritesh","Sumit","Sachin","Priyanka"])
Course=pd.Series(["BCA","BTECH","MCA","BMS"])
City=pd.Series(["Delhi","Punjab",'Haryana',"Mumbai"])

In [77]:
hi=pd.concat([Name,Course,City])

In [78]:
print(hi)

0      Ritesh
1       Sumit
2      Sachin
3    Priyanka
0         BCA
1       BTECH
2         MCA
3         BMS
0       Delhi
1      Punjab
2     Haryana
3      Mumbai
dtype: object

In [79]:
hi=pd.concat([Name,Course,City],axis=1)

In [80]:
print(hi)

          0      1        2
0    Ritesh    BCA    Delhi
1     Sumit  BTECH   Punjab
2    Sachin    MCA  Haryana
3  Priyanka    BMS   Mumbai